.filterDefs {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
}

.steam {
  position: absolute;
  left: 19.5%;
  top: 20%;
  width: 28%;
  height: 35%;
  background-size: 360% 290%;
  background-position: 27% 33%;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 3;
  opacity: 0.8;
  filter: url(#steam-distortion);
  contain: strict;
}
